<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: Blank (11.0)</string>
	<string>M11.1-7031.0.102-2</string>
	<string>T12.1 (7359.0.88)</string>
	<string>T13.2 (7367.0.77)</string>
	<string>T14.0 (7368.0.95)</string>
	<string>M11.1-7031.0.102-2</string>
	<string>G-r1420-14D73</string>
	<string>T14.2 (7370.0.111)</string>
	<string>G-r1420-14D73</string>
</array>
</plist>
